<div class="form-group">
  <label for="item">Item</label>
  <input class="form-control"
         id="item"
         #item>
  <input type="button"
         class="btn btn-primary"
         (click)=add(item)
         value="Add">
</div>

<section>
  <input type="button"
         class="btn btn-success"
         value="load todos"
         (click)="loadList()">
  <ul class="list-unstyled">
    <li *ngFor="let todo of todoList$ | async"
        class="alert alert-info">{{todo.description}}</li>
  </ul>
</section>
